<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

   <!-- bean definition & AOP specific configuration -->
   <bean id="myBank" class="org.springaopexamples.target.BankImpl"></bean>
   <bean id="loggingAspect" class="org.springaopexamples.aop.LoggingAspect"></bean>
   <bean id="transactionAspect" class="org.springaopexamples.aop.TransactionAspect"></bean>
   
   <aop:aspect ref="loggingAspect">
   		<aop:pointcut expression="execution(* org.springaopexamples.target.BankImpl.getBalance(*))" id="logBeforePointcut"/>
   		<aop:before pointcut-ref="logBeforePointcut" method="logBefore"/>
   		<aop:after pointcut-ref="logBeforePointcut" method="logAfter"/>
   		<aop:before pointcut-ref="logBeforePointcut" method="logBeforeWithPointcutInfo"/>
   	</aop:aspect>
	   	
   	<aop:aspect ref="transactionAspect">
   		<aop:pointcut expression="execution(* org.springaopexamples.target.BankImpl.transfer(..))" id="transferAroundPointcut"/>
   		<aop:around pointcut-ref="transferAroundPointcut" method="transferTransaction"/>
   		<aop:pointcut expression="execution(* org.springaopexamples.target.BankImpl.deposit(long,double)) and args(accountno,amount)" id="depositAroundPointcut"/>
   		<aop:around pointcut-ref="depositAroundPointcut" method="depositTransaction" arg-names="accountno,amount"/>
   	</aop:aspect>

</beans>
